## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [ ]:
a = 5

2) Imprimir el tipo de dato de la variable 8.5

In [1]:
b = 8.5
print(type(b))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
a = 5
print(type(a))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [ ]:
nombre_dev = 'Agustin'

5) Crear una constante que contenga el número Pi

In [ ]:
PI = 3.14

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [4]:
PI = 3.14
print(type(PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [5]:
e = 2.718281828459045
variable_redondeada = round(e, 4)
print(variable_redondeada)

2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [6]:
valor = "True"
valor_a = True
print(valor == valor_a)
#Da como resultado false ya que la variable valor es un string y valor_a es un booleano

False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [7]:
valor = "True"
valor_a = True
print(f"La variable valor es de tipo: {type(valor)} y la variable valor_a es de tipo {type(valor_a)}")

La variable valor es de tipo: <class 'str'> y la variable valor_a es de tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [8]:
a = 5
b = 8.5
c = a + b

11) Realizar una operación de suma de un número definido como string con un entero

In [9]:
c = '5'
d = 5
e = c + d
print(e)

TypeError: can only concatenate str (not "int") to str

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [10]:
cubica_e = variable_redondeada **3
print(cubica_e)

20.085939737487003

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [11]:
numero_usuario = int(input('INGRESE UN NUMERO PARA QUE LO MULTIPLIQUEMOS'))
multiplicacion_con_usuario = numero_usuario * 3
print(multiplicacion_con_usuario)

3

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [22]:
dividendo = 27 
divisor = 4
cociente = dividendo / divisor
print(cociente)

6.75

15) De la división anterior solamente mostrar la parte entera

In [24]:
parte_entera = int(cociente)
print(parte_entera)

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [19]:
dividendo = 27 
divisor = 4
resto = dividendo % divisor
print(resto)

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [26]:
a = 4 
resultado = a * cociente
print(int(resultado))

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [27]:
a = '2'
b = 2 
print(a == b)
#La impresion nos dice que es falso ya que son distintos tipos de datos por ejemplo:
print(f'la variable a es de tipo: {type(a)} y la variable b es de tipo {type(b)}')

False
la variable a es de tipo: <class 'str'> y la variable b es de tipo <class 'int'>

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [28]:
a = int('2')
b = 2 
print(a == b)

True

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [31]:
a = float('3,8')
print(a)
#nos da error porque dentro del string los numeros estan dividos por una coma por lo que un float hay que
#diferenciar su parte entera de su parte decimal mediante un punto como en el siguiente ejemplo:
b = float('3.8')

3.8

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [32]:
a = 2
b = '2'
c = a + b
print(c)
#no esta permitido ya que no se puede realizar la suma de un string y un entero 
#si arrojaria siempre el mismo resultado si fueran del mismo tipo

TypeError: unsupported operand type(s) for +: 'int' and 'str'

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [ ]:
comidas =['1-Pizza','2-Empanadas' , '3-Milanesas', '4-Salir']

23) Crear una lista que contenga los números del 1 al 10

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10]

24) Imprimir el penultimo elemento de la lista creada en el punto 22

In [41]:
numeros = [1,2,3,4,5,6,7,8,9,10]
print(numeros[8])

9

25) Modificar el tercer elemento de la lista creada en el punto 22 poniendo tu nombre

In [63]:
comidas=['1-Pizza','2-Empanadas' , '3-Milanesas', '4-Salir']
comidas.pop(2)
print(comidas)
comidas.insert(2, '3-Agustin')
print(comidas)

['1-Pizza', '2-Empanadas', '4-Salir']
['1-Pizza', '2-Empanadas', '3-Agustin', '4-Salir']

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [ ]:
matriz = [['A','B','C'],['D','E','F'],['G','H','I']]

27) Imprimir la matriz creada en el punto 26

In [45]:
matriz = [['A','B','C'],['D','E','F'],['G','H','I']]
print(matriz)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [117]:
matriz = [['A','B','C'],['D','E','F'],['G','H','I']]
del matriz[1][1]
matriz[1].insert(1,'Z')
print(matriz)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [127]:
matriz = [['A','B','C'],['D','E','F'],['G','H','I']]
del matriz[0][:3]
print(matriz)
matriz[0].insert(0,3)
matriz[0].insert(0,2)
matriz[0].insert(0,1)
print(matriz)

[[], ['D', 'E', 'F'], ['G', 'H', 'I']]
[[1, 2, 3], ['D', 'E', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [ ]:
marcas_ropa = ('gucci','adidas','nike','topper', 'reebook')

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [91]:
marcas_ropa = ('gucci','adidas','nike','topper', 'reebook')
print(type(marcas_ropa))
print(marcas_ropa[0])

<class 'tuple'>
gucci

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [ ]:
'''No se pueden modificar las tuplas, una vez creada es inmodificable'''

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [ ]:
diccionario = {
    'nombre':'Agustin',
    'apellido':'Flores',
    'edad': 24,
    'hobbies':('fulbol','leer','video juegos')
   
}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [95]:
diccionario = {
    'nombre':'Agustin',
    'apellido':'Flores',
    'edad': 24,
    'hobbies':('fulbol','leer','video juegos')
}
print(diccionario['hobbies'])

('fulbol', 'leer', 'video juegos')

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [114]:
diccionario = {
    'nombre':'Agustin',
    'apellido':'Flores',
    'edad': 24,
    'hobbies':('fulbol','leer','video juegos')
}
diccionario['edad'] = 28
print(diccionario)

{'nombre': 'Agustin', 'apellido': 'Flores', 'edad': 28, 'hobbies': ('fulbol', 'leer', 'video juegos')}